<ul>
    <li *ngFor="let char of characters" (click)="character = char" [ngClass]="{selected: char === character}">
        {{char.name}}
    </li>
</ul>

<div *ngIf="character">
    <h1>{{character.name}}</h1>
    <h2>This is {{character.name}} from house {{character.house}}, aged {{character.age}}.</h2>

    <fieldset>
        <label>Name: <input [(ngModel)]="character.name"> <br /> </label>
        <label>Age: <input [(ngModel)]="character.age"> <br /> </label>
    </fieldset>

    <button (click)="hideDetailsClick()">Show/hide details</button><br />
    <label><input type="checkbox" [(ngModel)]="hideDetails"/>Hide details</label><br/>
    <div [hidden]="hideDetails">
        <h3>Details</h3>
        <fieldset>
            <label>House:
        <select [(ngModel)]="character.house">
          <option *ngFor="let house of houses">{{house}}</option>
        </select>
      </label>
        </fieldset>
        <fieldset>
            <label>Dead: </label>{{character.dead}}
        </fieldset>
    </div>
</div>